.services{
    background: rgb(10, 22, 14);
    background-image: linear-gradient(black, rgb(10, 22, 14));
    margin-top: 70px;
    padding: 0 100px;
    text-align: center;
    overflow: hidden;
}
.services .text{
    padding: 0 50px;
}
.services .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.services .container .serviceBox{
    position: relative;
    background: #fff;
    margin: 10px;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 10%;
    transition: all .3s ease;
    z-index: 1;
}
.services .container .serviceBox img{
    max-width: 250px;
}
.services .container .serviceBox .img1{
    background: url('../images/trek.png');
}
.services .container .serviceBox h2{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}
