.header{
  position: fixed;
  background-color: rgb(10, 22, 14);
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 100px;
  z-index: 1000;
  transition: .5s;
}
.header .logo{
  color: #fff;
  position: relative;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  transition: .5s;
}
.header .logo span{
  color: yellow;
}
.header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header ul li{
  position: relative;
  list-style: none;
}
.header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 300;
  transition: 0.6s;
}
.header a:hover{
  color: yellow;
}

.header.sticky{
  padding: 5px 100px;
  background: rgb(10, 22, 14);
  border-bottom: 1px solid (0,0,0,.1);
}
.header.sticky .logo,
.header.sticky ul li a{
  color: #fff;
}
.header.sticky a:hover{
  color: yellow;
}